<h1>Login</h1>

<div class= "Sign_Form">
	<%= form_tag '/login', class: 'login-form' do %>
		<p>Username:</br> <%= text_field_tag :username %></p> 
		<p>Password:</br> <%= password_field_tag :login_password %></p> 
		<%= submit_tag("Log In") %>
	<% end %>
</div>

<p class="register-link">
<%= link_to 'New user?  Click here to register.', 'register' %>
</p>