<section class="login-form">
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |message| %>
          <p class="error"><%= message %></p>
      <% end %>
  <% end %>


  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label 'Confirm' %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label 'Display Name' %><br>
    <%= f.text_field :display %>
  </div>
  <% if @current_user %>
  <div class="field">
  <%= f.label :photo %><br>
  <%= f.file_field :photo %>
  </div> 
  <% end %>
  <% if @current_user && @current_user.access >= 3 %>
  <div class="field">
    <%= f.label :access %><br>
    <%= f.number_field :access %>
  </div>
  <% else %>
  <%= f.hidden_field :access, value: 1 %>
  <%= f.hidden_field :user, value: @user.id %>
  <% end %>
    <div class="actions">
  <%= f.submit %>
  </div>
<% end %>
</section>