<h1><%= image_tag @user.photo.url(:thumb), class: "avatar" %><%= @user.username %></h1>
<% if @current_user == @user %>
<p>
<%= link_to 'Update my Information', edit_user_path(@user) %>
</p>
<% end %>
<p>
  <strong>Display Name:</strong>
  <%= @user.display %><br>
  <strong>User Type:</strong>
  <%= @user.user_type %>
</p>


<section class="review-module">

<% if @user.reviews.size > 0 %>
  <h3>Reviews</h3>
<% else %>
  <h3>This user hasn't left any reviews (yet).</h3>
<% end %>

<% @user.reviews.each do |review| %>

<div class="comment">
  <div class="comment-image">
    <%= image_tag review.product.photo.url(:thumb) %>
  </div>
  <div class="comment-content">
    <h1><%= review.title %></h1>
    <p><%= review.comment %></p>
    <p class="comment-detail">
      Added to <%= link_to review.product.name, product_path(review.product.id) %> on <%= review.created_at.strftime("%m/%d/%Y") %>.
    </p>
  </div>
</div>
<% end %>


</section>
