<h1 class="user"><%= image_tag @user.photo.url(:thumb), class: "avatar" %><%= @user.display %></h1>
<section class="user-info">
<% if @current_user == @user %>
<p>
<%= link_to 'Update my Information', edit_user_path(@user.username) %>
</p>
<% end %>
<p>
  <strong>User Type:</strong>
  <%= @user.user_type %>
  <br>
  <strong>Last Login:</strong>
  <% t = @user.updated_at %>
  <%= t.strftime("%m/%d/%y at %I:%M%p") %>
</p>
</section>

<section class="user-reviews">

<% if @user.reviews.size > 0 %>
  <h3>Products <%= @user.display %> Has Reviewed:</h3>
<% else %>
  <h3>This user hasn't left any reviews (yet).</h3>
<% end %>

<% @user.reviews.each do |review| %>

<div class="comment">
  <div class="comment-image product">
    <%= image_tag review.product.photo.url(:thumb) %>
  </div>
  <div class="comment-content">
    <h1><%= review.title %></h1>
    <p><%= review.comment %></p>
    <p class="comment-detail">
      Added to <%= link_to review.product.name, product_path(review.product.id) %> on <%= review.created_at.strftime("%m/%d/%Y") %>.
    </p>
  </div>
</div>
<% end %>


</section>
