<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <!-- Added "Product" -->
      <th>Product</th>
      <th>Name</th>
      <th>Price</th>
<<<<<<< HEAD
      <th>Quantity</th>
      <th>Description</th>
=======
      <th>Qty</th>
      <th colspan="2">Description</th>
>>>>>>> 71aeaeb0aaedbab18c1a395d3953664ded43ecfe
      <th>Category</th>
      <th>Featured</th>
      <th colspan="3"></th>
      <th>Listed</th>
    </tr>
  </thead>

  <tbody>

    
    <!-- Sorting by session sort preference -->
    <% if @products.none? %>
    <tb>No products listed</tb>
    <% end %>
    <% @products.each do |product| %>
      <tr>
        <!-- Added image thumb in index -->
        <td><%= image_tag product.photo.url(:thumb) %></td>
        <td><%= product.name %></td>
        <td>$<%= product.formatted_price %></td>
        <td><%= product.quantity %></td>
        <td colspan="2"><%= product.description.truncate(40) %></td>
        <td><%= product.category.name %></td>
        <% a = ("Featured" if true) || (" " if false) %>
        <td><%= a %></td>
        <td><%= link_to 'View', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Remove', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% t = product.updated_at %>
        <td><%= t.strftime("%m/%d/%y %I:%M%p") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <% if @current_user.has_access?(3) %>
    <%= link_to 'New Product', new_product_path %>
  <% end %>
