<p id="notice"><%= notice %></p>

<p>
  <h1><%= @product.name %></h1>
</p>

<!-- Displaying photo (size can be) -->
<%= image_tag @product.photo.url(:medium) %>

<p>
  <strong>Price:</strong>
  <%= @product.formatted_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @product.description %>
</p>



<hr><br />

<h3>Reviews</h3>

<% @product.reviews.each do |review| %>
  <p>
    <h5><%= review.title %></h5>
    <%= review.comment %>
    <br>
    <i>Added by 
    <%= review.user.display %>

     on <%= review.created_at.strftime("%m/%d/%Y") %>.</i>
  </p>
<% end %>

<hr><br />

<% if @current_user %>
<h3>What did you think of <%= @product.name.capitalize %>?</h3>

  <%= render 'reviews/form' %>
<% end %>

<p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</p>