<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<!-- Displaying photo (size can be) -->
<%= image_tag @product.photo.url(:medium) %>

<p>
  <strong>Price in cents:</strong>
  <%= @product.price_in_cents %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @product.featured %>
</p>


<h4>Reviews</h4>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Comment</th>
      <th>Rating</th>
      <th>Product</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% if @reviews %>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.title %></td>
        <td><%= review.comment %></td>
        <td><%= review.rating %></td>
        <td><%= review.product %></td>
        <td><%= review.user %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<p>
<%= link_to 'New Review', new_review_path %>
</p>


<p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</p>