

<section class="product-detail">
  <h1><%= @product.name %></h1>
  <%= image_tag @product.photo.url(:medium) %>
  <section class="details">
    <p>
      <strong>Price:</strong>
      $<%= @product.formatted_price %>
    </p>

    <p>
      <strong>Quantity:</strong>
      <%= @product.quantity %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @product.category.name %>
    </p>

    <p>
      <strong>About:</strong>
      <%= @product.description %>
    </p>
  </section>
</section>


<section class="review-module">

<% if @product.reviews.size > 0 %>
  <h3>Reviews</h3>
<% end %>

<% @product.reviews.each do |review| %>


<div class="comment">
  <div class="comment-image">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
  </div>
  <div class="comment-content">
    <h1><%= review.title %></h1>
    <p><%= review.comment %></p>
    <p class="comment-detail">
      Added by <%= review.user.display %> on <%= review.created_at.strftime("%m/%d/%Y") %>.
    </p>
  </div>
</div>
<% end %>


<% if @current_user %>
<section class="new-review">
<h3>What did you think of <%= @product.name.capitalize %>?</h3>
  <%= render 'reviews/form' %>
</section>
<% end %>

</section>