

<section class="product-detail">
  <h1><%= @product.name %></h1>
  <%= image_tag @product.photo.url(:medium) %>
  <section class="details">
    <p>
      <strong>Price:</strong>
      $<%= @product.formatted_price %>
    </p>

    <p class="stock">
      <% if @product.quantity > 0 %>
        Currently in Stock
      <% else %>
        Out of Stock
      <% end %>
    </p>

    <p><%= @product.description %></p>
  </section>
</section>


<section class="review-module">

<% if @product.reviews.size > 0 %>
  <h3>Reviews</h3>
<% else %>
  <h3>There are no reviews for this product (yet).</h3>
<% end %>

<% @product.reviews.each do |review| %>


<div class="comment">
  <div class="comment-image">
    <%= image_tag review.user.photo.url(:thumb) %>
  </div>
  <div class="comment-content">
    <h1><%= review.title %></h1>
    <p><%= review.comment %></p>
    <p class="comment-detail">
      Added by <%= link_to review.user.display, user_path(review.user.username) %> on <%= review.created_at.strftime("%m/%d/%Y") %>.
      <% if can_edit_review?(review) %>
      | <%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
  </div>
</div>
<% end %>


<% if @current_user %>
<section class="new-review">
<h3>What did you think of <%= @product.name %>?</h3>
  <%= render 'reviews/form' %>
</section>
<% end %>

</section>