<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<!-- Displaying photo (size can be) -->
<%= image_tag @product.photo.url(:medium) %>

<p>
  <strong>Price in cents:</strong>
  <%= @product.price_in_cents %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @product.featured %>
</p>

<p>
<%= link_to "Add to cart", add_cart_path(@product.id, quantity: 1) %>
</p>

<p>

<%= form_tag(add_cart_path(@product.id), method: "get") do %>
Add 

<%= text_field_tag :quantity %>
<%= @product.name %>

to cart? 

<%= submit_tag "Add" %>
<% end%>

</p>


























<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
