<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Product:</strong>
  <%= @review.product.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |

<% if @review.product.nil? %>
  <%= link_to 'Back', @review.product %>
<% else %> 
  <%= link_to 'Back', product_path(@review.product.id) %> 
<% end %> 
